@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
  margin: 0;
  padding: 0;
  background-image: url('/fondo.webp');
  background-size: cover;       /* La imagen cubre toda la pantalla */
  background-position: center;  /* Centrada */
  background-repeat: no-repeat; /* No se repite */
  background-attachment: fixed; /* Efecto fondo fijo */
  font-family: 'Roboto', sans-serif;
}